#change{
    position: relative;
    margin-bottom: 25px;
    margin-left: 500px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid;
    background-color: black;
    color: beige;
    width: fit-content;
    padding: 5px;


}   
body {
    text-align: center;
    border: 20px;
    margin-top: 300px;
}